[submodule "rocketmq-client-cpp"]
	path = librocketmq-cpp/rocketmq-client-cpp
	url = https://github.com/apache/rocketmq-client-cpp.git
[submodule "librocketmq-cpp/rocketmq-client-cpp"]
	path = librocketmq-cpp/rocketmq-client-cpp
	url = https://github.com/apache/rocketmq-client-cpp.git
